.container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;

  img {
    width: 400px;
    margin-bottom: 1rem;
  }

  p {
    margin: 1em 0;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  div {
    padding: 30px 0 50px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 0 10px;
    
    img {
      width: 260px;
    }

    p {
      font-size: 1rem;
    }
  }
}

.badges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;

  svg {
    width: 150px;
    margin: 10px;
  }
}